[submodule "QrScan"]
	path = QrScan
	url = ./QrScan
[submodule "Facial-Recognition-in-JS"]
	path = Facial-Recognition-in-JS
	url = ./Facial-Recognition-in-JS/
[submodule "qrdesk"]
	path = qrdesk
	url = ./qrdesk
